*, ::after, ::before {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;

}

html, body, #root {
    height: 100dvh;
    width: 100dvw;
    background-color: aliceblue;
}